{{#> layouts/message}}
{{#*inline "message-block"}}

<div id="label_{{id}}" class="labels"></div>
<div id="{{id}}" class="chart" style="height:{{graphHeight}}px;"></div>

{{/inline}}
{{/layouts/message}}