{{#> layouts/message}}
{{#*inline "message-block"}}

<p class="w3-medium">Host groups:</p>

<div class="w3-container">
  {{#each result}}
    <div class="w3-left w3-padding-small w3-round-small w3-light-blue
        w3-round w3-hover-opacity clickable"
      style="margin: 2px"
      data-entity="group" data-value="{{groupid}}">{{name}}</div>
  {{/each}}
</div>

{{/inline}}
{{/layouts/message}}
