<div class="
  w3-display-container
  w3-border
  w3-light-grey
  w3-padding
  ">

  {{>../includes/closeme}}
  {{>../includes/ts}}

    <p>Zabbix Console is a lightweight serverless read-only web GUI for 
        <a href="https://www.zabbix.com" target="_blank">Zabbix</a>.</p>

    <p>Graph control:</p>
    <ul>
        <li>Zoom in - press left mouse button and select an region.</li>
        <li>Zoom out - double click.</li>
        <li>Scroll - press Shift and left mouse button then move.</li>
    </ul>

    <p>Key bindings:</p>
    <ul>
        <li>Alt+C - remove all messages.</li>
        <li>Alt+G - show groups.</li>
        <li>Alt+W - remove closest message.</li>
        <li>Alt+Up - move one message up.</li>
        <li>Alt+Down - move one message down.</li>
        <li>Alt++ - increase graph height.</li>
        <li>Alt+- - decrease graph height.</li>
    </ul>

    <p>TODO:</p>
    <ul>
        <li>Search hosts by hostname and ip.</li>
        <li>Show fired triggers.</li>
        <li>Search interface graphs by descriptors.</li>
        <li>Improve design and usability.
            <ul>
                <li>Progress panel</li>
                <li>Graph heigth resize</li>
                <li>Host message</li>
            </ul>
        </li>
    </ul>

    Zabbix Console uses:
    <ul>
        <li>
            Zabbix JSON-RPC <a href="https://www.zabbix.com/documentation/3.4/manual/api" target="_blank">API</a>
            as back-end (tested with version 3.4).
        </li>
        <li>
            <a href="http://dygraphs.com" target="_blank">Dygraph</a>
            and <a href="https://www.w3schools.com/w3css/" target="_blank">W3.CSS</a>
            for visualization.
        </li>
    
        <li>
            <a href="https://nodejs.org" target="_blank">NodeJS</a>,
            <a href="https://www.npmjs.com/" target="_blank">NPM</a> and
            <a href="https://webpack.js.org" target="_blank">Webpack</a>
            as development platform.
        </li>
    </ul>

    <p>Installation:</p>
    <ol>
        <li>Clone Zabbix Console repo: 'git clone https://gitlab.com/vpirogov/zabbix-console.git'.</li>
        <li>Go to zabbix-console directory.</li>
        <li>Copy config.js.example to config.js and edit it.</li>
        <li>Install node dependencies: 'npm install'.</li>
        <li>Build project: 'npm run bulid'.</li>
        <li>Share ./dist static files under your web server.</li>
    </ol>
    
    <p class="w3-tiny w3-opacity w3-center">Copyright (c) 2019, Vladimir Pirogov</p>
 </div>