{{#> layouts/message}}
{{#*inline "message-block"}}

  <div class="w3-container w3-margin-top">
    <div class="w3-container">
      <div class="w3-left">
        <span class="w3-text-indigo"
          >{{name}}</span>
        <span class="w3-opacity-min">{{ip}}</span>
      </div>

      <div class="w3-right clickable w3-opacity smallerfont ">
        <div style="margin: 0 1px"
          class="w3-tag w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="graphs" data-value="{{hostid}}"
          >Graphs</div>
        <div style="margin: 0 1px"
          class="w3-tag  w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="items" data-value="{{hostid}}"
          >Items</div>
        <div style="margin: 0 1px"
          class="w3-tag w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="triggers" data-value="{{hostid}}"
          >Triggers</div>
      </div>
    </div>

    <div class="smallerfont w3-opacity" style="margin: 3px 0 0 0">
      <div>{{inventory.os_full}}</div>
      <div>{{inventory.location}}</div>
      <div>{{description}}</div>
    </div>
  </div>

  {{#if triggerInfo.fired}}
    <div class="smallerfont w3-opacity" style="margin: 3px 0 0 0">
      Triggers:
      <ul class="w3-ul">
        {{#each triggers}}
          {{#if fired}}
            <li>
              {{clock lastchange}}
              <span class="w3-tag w3-round {{triggerColor priority}}">
                {{triggerSeverity priority}}
              </span>
              {{description}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if graphs}}
    <div class="w3-container w3-tiny w3-opacity-min">
      <p>Graphs:</p>
      <table class="graphs smallerfont">
      {{#each graphs}}
        <tr class="w3-hover-text-red">
          <td>
            <div class="clickable w3-text-brown small"
              data-entity="history3d" data-value="{{graphid}}"
              >H<sub>3d</sub></div></td>
          <td>
            <div class="clickable w3-text-brown small"
              data-entity="history" data-value="{{graphid}}"
              >H</div></td>
          <td>
            <div class="clickable w3-text-green small"
              data-entity="trend4m" data-value="{{graphid}}"
              >T<sub>4m</sub></div></td>
          <td>
            <div class="clickable w3-text-green small"
              data-entity="trend" data-value="{{graphid}}"
              >T</div></td>
          <td>{{name}}</td>
          <td>{{description}}</td>
        </tr>
      {{/each}}
      </table>
    </div>
  {{/if}}

{{/inline}}
{{/layouts/message}}
