{{#> layouts/message}}
{{#*inline "message-block"}}

<p class="w3-small">{{message.result.length}} hosts:</p>

<ul class="w3-ul">
{{#each result}}
  <li>

    <div class="w3-container">

      <div class="w3-left">
        <span class="clickable w3-text-indigo"
          data-entity="host" data-value="{{hostid}}"
          >{{name}}</span>
        <span class="w3-opacity-min">{{ip}}</span>
        {{#if triggerInfo.fired}}
          <span class="w3-tag w3-round-large w3-opacity-min smallerfont {{triggerColor triggerInfo.maxSeverityCode}}"
            title="{{triggerInfo.fired}} of {{triggerInfo.total}}"
            >
            {{triggerInfo.maxSeverity}}
          </span>
        {{/if}}
      </div>

      <div class="w3-right clickable w3-opacity smallerfont ">
        <div style="margin: 0 1px"
          class="w3-tag w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="graphs" data-value="{{hostid}}"
          >Graphs</div>
        <div style="margin: 0 1px"
          class="w3-tag  w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="items" data-value="{{hostid}}"
          >Items</div>
        <div style="margin: 0 1px"
          class="w3-tag w3-border w3-white w3-round w3-text-black w3-hover-opacity"
          data-entity="triggers" data-value="{{hostid}}"
          >Triggers</div>
      </div>
    </div>

    <div class="smallerfont w3-opacity" style="margin: 3px 0 0 0">
      <div>{{inventory.location}}</div>
      <div>{{description}}</div>
    </div>

  </li>
{{/each}}
<ul>

{{/inline}}
{{/layouts/message}}
