<div class="
  w3-display-container
  w3-border
  w3-light-grey
  w3-padding
  ">
<span onclick="this.parentElement.parentElement.remove()""
  class="w3-button w3-display-topright">&times</span>

{{>../includes/ts}}

<p class="w3-medium">{{message.result.length}} hosts:</p>

{{#each message.result}}

  <div>
    <span class="w3-text-indigo">
     {{name}}</span>
    <span class="w3-opacity-min">{{ip interfaces}}</span>
  </div>

  <div class="smallerfornt w3-opacity">
    <div>{{inventory.os_full}}</div>
    <div>{{inventory.location}}</div>
    <div>{{description}}</div>
  </div>
</li>

<h4>{{items.length}} items:</h4>
<table class="w3-table-all smallerfont">
  {{#each items}}
  <tr>
      <td>{{name}}</td>
      <td>{{snmp_oid}}</td>
      <td>{{units}}</td>
      <td>{{clock lastclock}}</td>
      <td>{{lastvalue}}</td>
  </tr>
  {{/each}}
</table>

{{/each}}

<pre>{{json message}}</pre>
</div>
