body {
  background-color: #DEDEDE;
}

.clickable {
  cursor: pointer;
}
.clickable > * {
  pointer-events: none;
}
.smallerfont {
  font-size: 0.9em;
}
.secondarytext {
  font-size: 0.9em;
  /* font-style: italic; */
}

table.graphs {
  border-collapse: collapse;

}
table.graphs tr:hover {
  background-color: rgb(193, 198, 212);
  color: rgb(172, 50, 2);
}
table.graphs td {
  border-bottom: 1px solid #DEDEDE;
  /* padding: 1px; */
  margin-bottom: 0;
}
div.small {
  padding: 2px 4px;
}

div.chart {
  width: 100%;
  height: 150px;
}
div.labels {
  float: right;
  margin-right: 50px;
  width: 30%;
  text-align: left;
  font-size: 0.8em;
}

.dygraph-label {
  font-size: 8pt;
  color: brown;
}
.dygraph-title {
  color: blue;
  text-align: left;
}
