<div class="
  w3-display-container
  w3-border
  w3-light-grey
  w3-padding
  ">

  {{>../includes/closeme}}
  {{>../includes/ts}}
  <span class="secondarytext w3-opacity-min w3-margin-left">
    &#x029D6 {{duration duration}}
  </span>

  {{#> message-block}}
    {{!-- Message content goes here. --}}
  {{/message-block}}

 </div>
